In [1]:
experts = (('Clare', 50), ('Ben', 70), ('Dan', 30))

In [2]:
type(experts)

tuple

In [3]:
experts = list(experts)

In [4]:
experts

[('Clare', 50), ('Ben', 70), ('Dan', 30)]

In [5]:
experts = tuple(experts)
experts

(('Clare', 50), ('Ben', 70), ('Dan', 30))

In [6]:
type(experts[0][1])

int

In [7]:
import csv

In [8]:
authors = {'Clare': [100, 'Created Requirement']}

In [9]:
authors['Clare'][0]

100

In [10]:
authors['Clare'][1]

'Created Requirement'

In [11]:
if 'Modified Requirement' not in authors['Clare']:
    authors['Clare'][0] += 5
    authors['Clare'].append('Modified Requirement')

In [12]:
authors

{'Clare': [105, 'Created Requirement', 'Modified Requirement']}

In [13]:
str(authors['Clare'][1:])

"['Created Requirement', 'Modified Requirement']"

In [14]:
str(', '.join(authors['Clare'][1:]))

'Created Requirement, Modified Requirement'

In [29]:
dictionary = {'5GC001091': [['Ben (Nokia NPV), Dan', 'key'], ['Clare','key']]}

In [30]:
for feature, person_list in dictionary.items():
    for person in person_list:
        #print(person[0])
        if '),' in person[0]:
            split_people = person[0].split(',')
            rejoin = [','.join(i) for i in zip(split_people[::2], split_people[1::2])]
            print(rejoin)

['Ben (Nokia NPV), Dan']

In [31]:
# Working on scaling scores into percentages

In [32]:
req_dict = {'5G_ran_up': {'Clare': [10, 'Built Dictionary'], 'Ben': [15, 'Security'], 'Dan': [5, 'Manager']}}

In [33]:
for req, author_info in req_dict.items():
    total = 0
    for author, scoring_list in author_info.items():
        total += scoring_list[0]
    for author, scoring_list in author_info.items():
        scaled_score = str(int(round(scoring_list[0]/total, 2) * 100)) + '%'
        scoring_list.insert(1, scaled_score)

In [34]:
req_dict

{'5G_ran_up': {'Clare': [10, '33%', 'Built Dictionary'],
  'Ben': [15, '50%', 'Security'],
  'Dan': [5, '17%', 'Manager']}}

In [35]:
# Now for features

In [36]:
exp_dict = {'Clare': (10, ['Works Hard', 'Python']), 'Ben': (15, ['Ranger Buddy', 'Java']), 'Dodo':(5, ['Dad', 'C'])}

In [37]:
overall = 0
for author, scoring_tuple in exp_dict.items():
    print(scoring_tuple)
    score, reason_list = scoring_tuple
    overall += score
print(overall)

(10, ['Works Hard', 'Python'])
(15, ['Ranger Buddy', 'Java'])
(5, ['Dad', 'C'])
30

In [38]:
for author, scoring_tuple in exp_dict.items():
    score, reason_list = scoring_tuple
    scaled_score = str(int(round(score/overall, 2) * 100)) + '%'
    scoring_tuple = score, scaled_score, reason_list
    exp_dict[author] = scoring_tuple
    
exp_dict

{'Clare': (10, '33%', ['Works Hard', 'Python']),
 'Ben': (15, '50%', ['Ranger Buddy', 'Java']),
 'Dodo': (5, '17%', ['Dad', 'C'])}

In [44]:
listy = ['Clare','Ben']

In [45]:
listy += 'Hello'

In [46]:
listy

['Clare', 'Ben', 'H', 'e', 'l', 'l', 'o']

In [47]:
listy += ['Hello']

In [48]:
listy

['Clare', 'Ben', 'H', 'e', 'l', 'l', 'o', 'Hello']

In [62]:
expert_info = [['Clare', 10, 4], ['Ben', 4, 10]]

for index, person in enumerate(expert_info):
    print(person)

['Clare', 10, 4]
['Ben', 4, 10]

In [63]:
expert_info += ['Python', 22]

In [64]:
expert_info

[['Clare', 10, 4], ['Ben', 4, 10], 'Python', 22]

In [65]:
expert_info += [['Python', 22]]
expert_info

[['Clare', 10, 4], ['Ben', 4, 10], 'Python', 22, ['Python', 22]]

In [66]:
dictionary = {'Clare':[1,2,3]}
li = dictionary['Clare']
len(li) > 0

True

In [67]:
li= []
bool(li)

False

In [68]:
li.__len__() > 0

False

In [81]:
import pandas as pd

data = [['Dan', 30], ['Ben', 21], ['Friends', 1.1]]
df = pd.DataFrame(data, columns=['Name', 'Age'], index = [0,1, 2])

In [82]:
df

      Name   Age
0      Dan  30.0
1      Ben  21.0
2  Friends   1.1

In [83]:
for index, row in df.iterrows():
    if row['Name'] != 'Friends':
        print('My name is '+ str(df['Name'][index])+ ' and I am ' + str(df['Age'][index])+ ' years old.')
    else:
        if row['Age'] != 1:
            print('We have been ' + str(df['Name'][index]).lower() + ' for ' + str(df['Age'][index]) + ' years.')
        else:
            print('We have been ' + str(df['Name'][index]).lower() + ' for ' + str(df['Age'][index]) + ' year.')

My name is Dan and I am 30.0 years old.
My name is Ben and I am 21.0 years old.
We have been friends for 1.1 years.